@tailwind base;
@tailwind components;
@tailwind utilities;

/* default color  */
/* /  */
/* navbar  */
/* /  */

html {
  scroll-behavior: smooth;
}

header {
  max-width: 1200px !important;
  margin: 0 auto;
  width: 90% !important;
  padding: 0% !important;
}

.wrapper-container {
  max-width: 1200px;
  width: 90%;
}

@media (max-width: 950px) {
  .full_name::before {
    content: "\a";
    white-space: pre;
  }
}

.project-card .project-main-image {
  object-position: top center !important;
  transition: all 5s ease-in-out !important;
}

.project-card:hover .project-main-image {
  object-position: bottom center !important;
}
